                    /* GENERAL CSS PROPERTIES */
*{
    margin:0px;
    padding:0px;
}
.container{
    border-radius:2rem;
    font-size:1.3rem;
}
@media(max-width:800px) and (min-width:500px){
    .container{
        font-size:1rem;
    }
}
@media(max-width:500px){
    .container{
        font-size:1rem;
    }
}

body{
    color:rgb(11, 10, 10);
    background-color:#bde0fe;
    text-align:center;
}

                        /* CONTAINER CSS PROPERTIES */
.abc{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

@media(min-width:800px){
    .container{
        height:45vh;
        width:50vw;
        background-color:#ffb3c1;
    }
}

@media(max-width:800px) and (min-width:500px){
    .container{
        height:45vh;
        width:65vw;
        background-color:#ffb3c1;
    }
}
@media(max-width:500px){
    .container{
        height:45vh;
        width:83vw;
        background-color:#ffb3c1;
    }
}

                    /* INPUT/OUTPUT AREA CSS  PROPERTIES */
.name{
    height:10vh;
    width: 100%;
    background-color:#ff477e;
    border-top-left-radius:2rem;
    border-top-right-radius:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff0f3;
}

header{
    height:9vh;
    display:flex;
    flex-direction:row;
    color:#590d22;
}

.box1, .box2{
    margin-top:1vh;
    width:50%;
}

header h3{
    padding:0.5vh;
}
@media(min-width:800px){
    header input{
        height:2.9vh;
        padding-left:0.2rem;
        border-width:0.08rem;
        font-size:1rem;
        width:55%;
    }
}

@media(max-width:800px) and (min-width:500px){
    header input{
        width:15vw;
        height:3.1vh;
    }
}
@media(max-width:500px) and (min-width:380px){
    header input{
        width:55%;
        height:3vh;
    }
}
@media(max-width:380px){
    header input{
        width:55%;
        height:3.1vh;
        margin-top:1.09rem;
    }
}

.outputArea{
    height:3vh;
    padding-left:0.2rem;
    background-color:white;
    width:55%;
    margin-left:22%;
    border-style:solid;
    border-width:0.08rem;
    text-align:left;
    font-size:1rem;
    display:flex;
    align-items:center;
}
@media(max-width:800px) and (min-width:500px){
    .outputArea{
        width:45%;
        margin-left:27%;
    }
}
@media(max-width:500px){
    .outputArea{
        width:55%;
        margin-left:22%;
     }
}

                        /* SELECTION AREA CSS PROPERTIES */

main{
    height:18vh;
    background-color:#ffb3c1;
    display:flex;
    color:#590d22;
}

.sec1,.sec2{
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}

.entryBox{
    background-color:white;
    width:16vw;
    text-align:right;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    border-radius:2rem;
    margin-top:0.5rem;
}

@media(max-width:800px) and (min-width:500px){
    .entryBox{
        width:20vw;
    }
}
@media(max-width:500px){
    .entryBox{
        width:30vw;
        height:2.5rem;
    }
}

.entryBox select{
    height:2.5rem;
    margin-right:1rem;
    border-style:none;
    background-color:transparent;
    outline:none;
}

.flagbox{
    background-color:white;
    height:3.2rem;
    width:3.2rem;
    display:inline-block;
    border-top-left-radius:2rem;
    border-bottom-left-radius:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
}
@media(max-width:500px){
    .flagbox{
        height:2.5rem;
        width:2.9rem;
    }
}
.flagbox div{
    height:2.7rem;
    width:2.7rem;
    border-radius:2rem;
    margin:0.1rem;
    margin-left:0.2rem;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
}
@media(max-width:500px){
    .flagbox div{
        width:2.2rem;
        height:2.2rem;
    }
}
.flagbox div img{
    height:159%;
    width:100%;
    object-fit:cover;
    object-position:center;
}

                        /* BUTTON SECTION CSS PROPERTIES */

footer button{
    border:none;
    height:8vh;
    width:100%;
    background-color:#ffecd1;
    font-size:1.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
@media(max-width:800px) and (min-width:500px){
    .footer button{
        width: 100%;
    }
}

footer button:hover{
    background-color:#ff8fa3;
}
footer button:active{
    background-color:#590d22;
    color:white;
}
